body{
    margin: 0;
}

/* Main content */

#wrapper{
    width: 900px;
    margin: 0 auto;
}

/* Header */

img{
    width: 80px;
    padding: 15px;
    margin-left: 50px;
}

#flex_header{
    display: flex;
    background-color: #7B6CF6;
}

.nav_links{
    list-style: none;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0;
}

a{
    text-decoration: none;
    color: #f8f8ff;
}

li+li{
    padding-left: 50px;
}

#flex_space_between{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 0;
    padding: 0 70px 0 50px;
}

/* Body */

h1, h2{
    font-family: 'Syne Mono', monospace;
    font-weight: 400;
    font-size: 2.25rem;
    padding: 2em 0 2em 0;
    text-align: center;
    margin: 0;
}

/* Form */

button, input[type=text] {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1.25em;
    border: 2px solid #7B6CF6;
    border-radius: 2em;
    background-color: transparent;
    cursor: pointer;
    width: 30em;
    margin: auto auto 40px auto;
}

input[type=text]:focus{
    border: 2px solid #E5A5FF;
    outline:#E5A5FF;
}

::placeholder{
    color: #b3b3b3;
}

button{
    color: #f8f8ff;
    border-radius: 2em;
    background-color: #7B6CF6;
    border: 2px solid #7B6CF6;
    width: 10em;
    margin: 0 auto;
}

button:hover{
    background-image: linear-gradient(#7B6CF6 0%, #5432D3 100%);
    /* background-color: #5432D3; */
    border: 2px solid #7B6CF6;
    color: #f8f8ff;
    transition: all 0.3s ease 0s;
}

/* Results table */

table, thead, td, th{
    
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
}

thead{
    border-bottom: 1px solid #b3b3b3;
}

th{
    padding: .75em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

td{
    padding: .75em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

#no_results{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}

#no_results_img{
    margin: 0;
    width: 300px;
}

