body{
    margin: 0;
}

/* Main content */

#wrapper{
    width: 900px;
    margin: 0 auto;
}

/* Header */

img{
    width: 80px;
    padding: 15px;
    margin-left: 50px;
}

#flex_header{
    display: flex;
    background-color: #7B6CF6;
}

.nav_links{
    list-style: none;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0;
}

a{
    text-decoration: none;
    color: #f8f8ff;
}

li+li{
    padding-left: 50px;
}

#flex_space_between{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 0;
    padding: 0 70px 0 50px;
}

/* Body */

p{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2{
    font-family: 'Syne Mono', monospace;
    font-weight: 500;
    font-size: 2.25rem;
    padding: 2em 0 2em 0;
    text-align: center;
    margin: 0;
}

h2{
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 0 0 2em 0;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #5432D3;
}

#less_padding_btm{
    padding-bottom: 1em;
}

/* Form */

button, input[type=text] {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1.25em;
    border: 2px solid #7B6CF6;
    border-radius: 2em;
    background-color: transparent;
    cursor: pointer;
    width: 30em;
    margin: auto auto 40px auto;
}

input[type=text]:focus{
    border: 2px solid #E5A5FF;
    outline:#E5A5FF;
}

::placeholder{
    color: #b3b3b3;
}

button{
    color: #f8f8ff;
    border-radius: 2em;
    background-color: #7B6CF6;
    border: 2px solid #7B6CF6;
    width: 10em;
    margin: 0 auto;
}

button:hover{
    background-image: linear-gradient(#7B6CF6 0%, #5432D3 100%);
    border: 2px solid #7B6CF6;
    color: #f8f8ff;
    transition: all 0.3s ease 0s;
}

/* Results table */

table, thead, td, th{
    
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}

thead{
    border-bottom: 1px solid #b3b3b3;
    color: #5432D3;
}

th{
    padding: .75em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

td{
    padding: .75em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #8c8c8c;
}

.result_row:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}

.save_btn{
    color: #f8f8ff;
    border-radius: 2em;
    background-color: #7B6CF6;
    border: 2px solid #7B6CF6;
    width: 5em;
    margin: 0 auto;
}

/* No Result page */

#no_results{
    text-align: center;
}

#no_results_img{
    margin: 0;
    padding: 0;
    width: 300px;
}

/* Single Result page */

#result_card{
    width: 550px;
    height: 300px;
    margin: 0 auto;
    background-color: #b3b3b3;
    display: flex;
    border-radius: 5em 0 8em 0;
}

#img_result_card{
    width: 40%;
}

#result_card_img{
    margin: auto 0;
    width: 150px;
    padding: 1.5em;
}

#left_align_hdgs{
    width: 60%;
    padding: 1.5em;
}

.result_heading{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #f8f8ff;
    padding-bottom: 1em;
    text-align: left;
}

#lyrics_heading{
    font-size: 1.5rem;
    width: 550px;
    margin: 0 auto;
    padding-top: 1.75em;
    text-align: left;
}

#card_btn{
    margin: 0;
    padding: ;
}

#spotify_btn img{
    width: 20px;
    padding: 0 2em 0 0;
}

#spotify_btn_txt{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #f8f8ff;
    margin: auto 0;
}

#spotify_btn{
    display: flex;
    color: #f8f8ff;
    border-radius: 2em;
    background-color: #7B6CF6;
    border: 2px solid #7B6CF6;
    width: 175px;
    margin: 15px 0 0 0;
    padding: 0 1em;
}

#card_btn:hover{
    background-image: linear-gradient(#7B6CF6 0%, #5432D3 100%);
    border: 2px solid #7B6CF6;
    color: #f8f8ff;
    transition: all 0.3s ease 0s;
}

/* About & Help pages */

#about_text, #FAQs{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
}

#about_text p{
    text-align: center;
}

.padding_top{
    padding-top: 30px;
}


