{% extends 'base.html' %}


{% block body %}
    <div>
        <main>
            <h1>Hello... it's me</h1>
            <h3>Welcome to That Song, a place for those with bad memories</h3>
            <p>That Song is a clone of Shazam, an application which can identify songs through lyrics and artists.</br>
            If you have a memory like me, you'll understand how frustrating it is when you recognise a song by listening <strong>BUT</strong>, your brain can't find the words the identify it.</p>
        </main>
    </div>
{% endblock %}