{% extends 'base.html' %}


{% block body %}
    <div id="wrapper">
        <main>
            <div id="about_text">
            <h1 id="less_padding_btm">Hello... it's me</h1>
            <h2>Welcome to <span style="color: #7B6CF6;">That Song</span>, a place for those with bad memories</h2>
            <p>That Song is a clone of Shazam, an application which can identify songs through lyrics and artists.</br>
            If you have a memory like me, you'll understand how frustrating it is when you recognise a song by listening <strong>BUT</strong>, your brain can't find the words the identify it.</p>
        </div>
        </main>
    </div>
{% endblock %}