<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Syne+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
    </style>
</head>

<body>
    <header id="flex_header">
        <a class="logo" href="/" role="link"><img src="../static/headphones 2.png"
                alt="Edinburgh Napier University logo" width="200px"></a>
        <div id="flex_space_between">
            <div class="flex_item">
                <nav role="navigation">
                    <ul class="nav_links">
                        <li><a href="/about" role="link" class="nav_item">ABOUT</a></li>
                        <li><a href="" role="link" class="nav_item">MY SONGS</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex_item">
                <nav role="navigation">
                    <ul class="nav_links">
                        <li><a href="/help" role="link" class="nav_item">HELP</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block body %} {% endblock %}
</body>
</html>