{% extends 'base.html' %}


{% block body %}
<div id="wrapper">
    <main>
        <div id="FAQs">
<h1 id="less_padding_btm">FAQs</h1>
<ol>
    <li>What can I search for?</li>
    <h3>Answer</h3>
    <p>You can search for any song title, artist name, or a snippet of lyrics.</p>
    <li class="padding_top">How do I return to the search bar?</li>
    <h3>Answer</h3>
    <p>You can search for another result by clicking the back button in the browser or clicking the 'That Song' logo in the header.</p>
    <li class="padding_top">Why is my search input not appearing in he results?</li>
    <h3>Answer</h3>
    <p>'That Song' is a test application and only has a limited song library to search from. We are sorry for any inconvenience caused.</p>
</ol>
</div>
</main>
</div>
{% endblock %}