<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header id="flex_header">
		<a class="logo" href="index.html" role="link"><img src="Edinburgh Napier logo.jpg" alt="Edinburgh Napier University logo" width="200px"></a>
		<nav role="navigation">
		<ul class="nav-links">
			<li><a href="" role="link">About</a></li>
			<li><a href="" role="link">My Songs</a></li>
			<li><a href="" role="link">Help</a></li>
		</ul>
		</nav>
	</header>
    <main>
        <form>
            <input type="text" placeholder="Search" aria-label="Search">
            <button type="submit">Search</button>
          </form>
    </main>
</body>
</html>